// MAIN STYLES
body {
  background: rgb(237, 237, 237);
}

.main-body {
  max-width: 1000px;
}

@media screen and (max-width: 1200px) {
  .main-body {
      padding: 100px;
      max-width: none;
  }
}

.container {
  max-width: 100%;
  padding: 0 1rem; 
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr; 
  gap: 1rem;
}

.table-of-contents-column {
  border-right: 5px solid #cdcccc; 
}

.table-of-contents a {
  text-decoration: underline; 
  color: black
}

.table-of-contents li {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.table-of-contents a:hover {
  color: rgb(163, 31, 162);
}

.blog-content .table-of-contents {
  display: none;
}

a {
  color: blue;
  text-decoration: none;
}

.table-of-contents {
  position: sticky;
  padding: 1rem;
  top: 0px; 
  overflow-y: auto;
  max-height: calc(100vh - 0px);
  border: #cdcccc 5px solid;
  font-size: 0.8rem;
}

.blog-content {
  padding: 1rem;
  line-height: 1.6; 
  max-width: 70%;
  font-size: 1.1rem;
}



.blog-content h1, h2, h3, h4, h5, h6 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  color: #222;
  font-weight: 700;
}

.blog-content h1 {
  font-size: 2.5rem;
}

.blog-content h2 {
  font-size: 2rem;
}

.blog-content h3 {
  font-size: 1.5rem;
}

.blog-content h4 {
  font-size: 1.2rem;
} 

.blog-content h5 {
  font-size: 1rem;
}

.blog-content p {
  margin-bottom: 1rem; 
}

.blog-content li {
  margin-left: 1rem; 
  list-style-type: square;
}

.table-of-contents li li {
  margin-left: 1rem; 
}

pre {
  white-space: pre-wrap;
  padding: 1rem; 
  overflow-x: auto;
}

details summary {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

details p{
  background-color: rgb(255, 208, 215);
  padding: 1rem;
}

// SMALL SCREEN WIDTH 
@media screen and (max-width: 768px) {
  .grid-container {
      grid-template-columns: 1fr; 
      display: block;
  }

  .table-of-contents {
      position: static;
      max-height: auto;
      order: -1; 
      border: none;
      width: 100%;
  } 

  .blog-content {
      max-width: 100%;
  }

  .main-body {
    padding: 20px;
    max-width: none;
  }
}

.blog-content blockquote {
  padding: 1rem;
  margin: 50px auto;
  border: solid  2px;
  box-shadow: 10px 10px 0 0 gray;
}

@media screen and (max-width: 768px) {
  #list-of-blogs {
      padding: 15px; 
      max-width: 100%; 
  }
  #list-of-blogs ol {
      padding-left: 15px;
  }
}

#list-of-blogs {
  margin: 0 auto; 
  padding: 20px; 
}

#list-of-blogs ol {
  list-style-type: decimal; 
  padding-left: 20px; 
  display: flex;
  flex-direction: column-reverse;
}

#list-of-blogs li {
  margin-bottom: 10px; 
  font-size: 1.5em; 
  line-height: 1.6; 
}

#list-of-blogs a {
  color: black; 
  border-bottom: 1px solid black;
  padding-bottom: 3px;
}

#list-of-blogs a:hover {
  color: rgb(163, 31, 162); 
}


// TWO UP ELEMENT

.demo {
	background: #fff;
	height: 200px;
	width: 300px;
	margin: 0 auto 50px;
	display: flex;
}
two-up {
	flex: 1;
}
.light, .dark {
	text-align: center;
	padding: 10px 0 0;
}
.dark {
	background: #555;
	color: #ccc;
}


// FLOATING SQUARES

$square-count: 20;
$sway-type: "sway-left-to-right", "sway-right-to-left";
$colors: #51eaea, #fffde1, #ff9d76, #FB3569;
$rotation-direction: "rotate-left", "rotate-right";
$sway-amounts: 100%, -100%;

@function random_range($min, $max) {
  $rand: random();
  $random_range: $min + floor($rand * (($max - $min) + 1));
  @return $random_range;
}

@function sample($list) {
  @return nth($list, random(length($list)));
}

@for $i from 1 through length($colors) {
  @keyframes change-border-color-#{$i} {
    0% { border-color: nth($colors, $i); }
    25% { border-color: nth($colors, if($i + 1 > length($colors), 1, $i + 1)); }
    50% { border-color: nth($colors, if($i + 2 > length($colors), $i + 2 - length($colors), $i + 2)); }
    75% { border-color: nth($colors, if($i + 3 > length($colors), $i + 3 - length($colors), $i + 3)); }
    100% { border-color: nth($colors, $i); }
  }
}

.squares {
  position: relative;
  width: 100%;
  // height: 0vh;
  pointer-events: none;
  bottom: 100%;
}

.square {
  bottom: 100%;
  position: absolute;
  z-index: -1;
  left: var(--square-left-offset);
  opacity: 0;
  display: block;
  width: var(--square-height);
  height: var(--square-height);
  animation: float-up var(--square-float-duration) var(--square-float-delay) ease-in infinite;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: solid 7px;
    animation: var(--square-sway-rotate-keyframe) var(--square-rotation-duration) linear infinite, var(--square-border-color-keyframe) 10s linear infinite;
  }

  @for $i from 0 through $square-count {
    $sway-direction: sample($sway-type);
    $rotation-degree: if(sample($rotation-direction) == 'rotate-right', 360deg, -360deg);

    $color-transition: sample(1 through length($colors));

    &:nth-child(#{$i}) {
      --square-left-offset: #{random_range(0vw, 80vw)};
      --square-height: #{random_range(3vw, 15vw)};
      --square-float-duration: #{random_range(30s, 60s)};
      --square-float-delay: #{random_range(0s, 20s)};
      --square-rotation-duration: #{random_range(15s, 50s)};
      --square-sway-rotate-keyframe: sway-rotate-#{$i};
      // --square-sway-duration: #{random_range(0s, 4s)};
      --sway-direction: #{$sway-direction};
      --rotation-direction: #{$rotation-direction};
      --square-border-color-keyframe: change-border-color-#{random_range(1, length($colors))};

      @keyframes sway-rotate-#{$i} {
        0%, 100% {
          transform: translateX(0) rotate(0deg);
        }
        50% {
          transform: translateX(if($sway-direction == 'sway-left-to-right', 50%, -50%)) rotate($rotation-degree);
        }
      }

    }
  }
}


@keyframes exp-sway-rotate {
  from {
    transform: translateX(if(--sway-direction == 'sway-left-to-right', 100%, -100%)) rotate(0deg);
  }

  to {
    transform: translateX(if(--sway-direction == 'sway-left-to-right', 100%, -100%)) rotate(if(--rotation-direction == 'rotate-right', 360deg, -360deg));
  }
}

@keyframes float-up {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  2% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(-600vh);
  }
}

// WAVE ANIMATION

.wave {
  animation: wave-animation 10s linear infinite;  
  display: inline-block;
  animation-delay: 3s;
}

@keyframes wave-animation {
   0% { transform: rotate( 0.0deg) }
   5% { transform: rotate(14.0deg) }  
   10% { transform: rotate(-8.0deg) }
   15% { transform: rotate(14.0deg) }
   20% { transform: rotate(-4.0deg) }
   25% { transform: rotate(10.0deg) }
   30% { transform: rotate( 0.0deg) }  
   100% { transform: rotate( 0.0deg) }
}
